<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"><script src="/static/scripts.js" defer></script>
</head>
<body>
    <div class="center-container">
        <div class="dashboard-box" id="dashboard">
            <div class="dashboard-header">
                <a href="/"><span class="material-icons home-icon">home</span></a>
                <h1>Sensor-Dashboard</h1>
            </div>
        </div>
    </div>
</body>
</html>